.title {
  font-size: 1rem;
  font-weight: 600;
}

.addButton {
  margin-right: 4px;
  color: var(--mantine-color-white);
  border-color: var(--mantine-color-white);
  border-width: 2px;
}

.addButton:hover {
  color: var(--mantine-color-gray-4);
  border-color: var(--mantine-color-gray-4);
}

.empty {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--mantine-color-white);
}
