.container {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.profileImage {
  width: 100px;
  height: 100px;
  margin: 16px auto;
  border-radius: 50%;
}

p {
  margin: 0;
  padding: 0;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.email {
  font-size: 1rem;
}

.logoutButton {
  margin: 32px auto;
  background-color: rgb(223 0 0 / 80%);
}

.logoutButton:hover {
  background-color: rgb(223 0 0);
}
