.container {
  margin-top: 48px;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mantine-color-white);
}

.email {
  font-size: 1rem;
}

.logoutButton {
  margin: 32px auto;
  background-color: var(--mantine-color-red-8);
}

.logoutButton:hover {
  background-color: var(--mantine-color-red-9);
}
