.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  flex-direction: row;
}

.balance,
.stats {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--mantine-color-white);
  padding: 16px 0;
}

.chartContainer,
.transactions {
  width: 100%;
  flex-grow: 0.5;
}

.chart {
  background-color: var(--mantine-color-dark-6);
  padding: 32px 16px;
  border-radius: 8px;
  font-size: 0.8rem;
  box-shadow: 0 1px 4px var(--mantine-color-black);
}

@media (width < 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 32px;
    flex-direction: column;
  }

  .chartContainer {
    order: -1;
  }
}
