nav {
  padding: 16px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mantine-color-dark-9);
  box-shadow: 0 2px 4px var(--mantine-color-black);
}

.link {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--mantine-color-white);
  text-decoration: none;
  transition: color ease-in-out 0.1s;
}

.link:hover {
  color: var(--mantine-color-gray-4);
}
