form {
  width: 100%;
  margin: 8px 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.submitButton {
  margin-top: 8px;
  margin-inline: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.error {
  font-size: 0.8rem;
  color: var(--mantine-color-error);
}
